<div class="hero">
  <%= image_tag "sage.jpg" %>
</div>

<div class="container">
  <hr />
  <div class="content">
    <h2>Coming Soon</h2>
    More information coming, but if you would like to contact me for now, you can email at joan@thesage-within.com
  </div>
</div>