@import "bootstrap";    
@import "home";    

$primary: #7E949A;
$secondary: #957D8B;
$tertiary: #949A7E;

body {
}

.header {
  background-color: #FFF;
  display: flex;
  height: 90px;
  justify-content: space-between;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1000;

  .logo-image {
    height: 100%;

    img {
      height: 100%;
    }
  }

  .navigation {
    display: flex;
    height: 90px;

    .nav_item {
      align-items: center;
      background-color: #FFF000;
      display: flex;
      height: 100%;
      padding: 0 20px;
    }
  }
}
