body {
  background-color: #949A7E;
  margin: 0;
}

.hero {
  height: 500px;
  overflow: hidden;
  width: 100%;

  img {
    margin-top: -200px;
    width: 100%;
  }
}

.content {
  background-color: #FFF;
  padding: 50px;
}